# Copy this file to .env and fill in your local credentials.

AURA_DB_HOST=10.141.0.111
AURA_DB_NAME=postgres
AURA_DB_USER=readonly_user
AURA_DB_PASSWORD=
AURA_DB_PORT=5432

AURA_POSTGRES_HOST=10.141.0.32
AURA_POSTGRES_NAME=dtbPortal
AURA_POSTGRES_USER=bi_qualidade
AURA_POSTGRES_PASSWORD=
AURA_POSTGRES_PORT=5432

AURA_SQLSERVER_CONN_STRING=
AURA_START_DATE=2025-12-04
AURA_END_DATE=
